/* GLOBAL STYLES **/

.insidewrap {
	width: 960px;
	color: white;
	margin: 0 auto;
}

.carouselwrap {
	width: 840px;
	margin: 0 auto;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.no-desktop {
	display: none;
}

.no-mobile {
	display: block;
}

.flex-container {
	display: flex;
	justify-content: space-between;
}

body{ 
	font-family: 'Corbel', sans-serif;
}

h1 {
	font-family: good-times, sans-serif;
}

h2 {
	font-family: 'Corbel', sans-serif;
	font-weight: bold;
	font-size: 27px;
	color: #393939;
	background-image: linear-gradient(120deg, #2bb1b3 0%, #ffffff 100%);
	background-repeat: no-repeat;
	background-size: 100% 6px;
	background-position: 0px 32px;
	height: 40px;
	margin-bottom: 15px;
}

.owl-carousel a {
	color: #0066c0;
	line-height: 18px;
	text-decoration: none;
}

.owl-carousel a:hover {
	text-decoration: underline;
}

.price-text {
	color: #ac2121 !important;
	text-decoration: none !important;
}


/* HEADER1 STYLES **/

#header1 {
	margin-top: 10px;
}

#header1 #social-media {
	margin-top: 46px;
	float: left;
	margin-left: 100px;
}

#header1 #social-media img {
	margin-right: 34px;
	width: 52px;
}

#search-bar {
	float: right;
	margin-top: 56px;
}

#searchBar {
	border: 2px solid #c3c3c3;
	font-size: 14px;
	color: #282828;
	padding: 10px;
	outline: none;
	width: 260px;
	height: 27px;
}

#searchBtn {
	height: 27.5px;
	border: none;
	margin-left: -2px;
	background-color: #2bb1b3;
	color: white;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

/* HEADER2 STYLES **/

#header2 ul {
	display: flex;
}

#header2 li {
	padding-right: 31px;
	white-space: nowrap;
}

#header2 {
	background-color: #2bb1b3;
}

#header2 a {
	font-size: 18px;
	font-weight: bold;
	line-height: 66px;
	color: #ffffff; 
	text-decoration: none;
}

#header2 img {
	padding-top: 21px;
	height: 45px;
	width: 28px;
}

#header2 h1 {
	font-size: 30px;
	line-height: 66px;
}

#cart-li {
	padding-right: 0 !important;
}

/* TOP-NAV STYLES **/

#top-nav {
	margin-top: 30px;
	font-size: 21px;
	color: #767676;
	text-transform: uppercase;
	letter-spacing: -0.8px;
	padding-bottom: 5px;
	border-bottom: 1px solid #767676;
}

#top-nav figure, #top-nav img {
	display: flex;
	align-items: center;
}

#top-nav figure figcaption a {
	color: #767676;
	margin-left: 15px;
	text-decoration: none;
}

#help {
	margin-right: 20px;
}

/* MAIN-TABLE STYLES **/

#main-table {
	margin-top: 30px;
}

#main-table h1 {
	color: #393939;
	font-size: 27px;
	margin-bottom: 20px;
}

#main-table a {
	color: #767676;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: -0.8px;	
	margin-top: 5px;
}

#main-table table, th, td {
	border: 1px solid #767676;
}

#main-table table {
	width: 100%;
}

#main-table th {
	color: #505050;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 7px 0;
}

#th-products {
	padding-left: 12px !important;
	text-align: left;
}

tr img {
	width: 152px;
	height: 222px;
	margin: 24px;
	float: left;
}

.info-1 {
	margin-top: 27px;
	font-weight: bold;
	font-size: 18px;
	color: #505050;
}

.info-2 {
	color: #505050;
	font-size: 13px;
	margin-top: 50px;
	line-height: 25px;
}

.info-3 {
	margin-top: 64px;
	color: #505050;
	font-size: 13px;
}

.info-3 a {
	font-size: 13px !important;
	font-weight: bold;
	margin-right: 24px;
}

.quantity {
 margin-left: 28px;
 margin-top: 85px;
 display: inline-block; }

.quantity .input-text.qty {
 width: 35px;
 height: 39px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #ffffff;
 font-size: 24px !important;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 font-family: 'Lato', sans-serif;
 font-size: 18px;
  color: #888888;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 3px 10px 8px;
 margin-top: 4px;
 width: 30px;
 height: 30px;
 background-color: #ffffff;
 border: 0.5px solid #888888;
 border-radius: 50%;
 cursor: pointer;}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }




#plus-button {
	background-image: url(../images/plus.png);	
}

#minus-button {
	background-image: url(../images/minus.png);
}

.image-box {
	width: 650px;
}

.quantity-box, .price-box {
	width: 155px;
}

.price-box p {
	color: #888888;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	text-align: center;
	position: relative;
	top: 98px;
}

/* FOOTER1 STYLES **/

#cost-box {
	width: 220px;
	border: 0.5px solid #888888;
	overflow: hidden;
	padding: 20px 15px;
	float: right;
	margin-top: 30px;
}

#cost-box p {
	font-size: 17px;
	color: #888888;
	font-family: 'Lato', sans-serif;
	line-height: 23px;
}

.cost-box-bold {
	font-weight: bold;
	margin-bottom: 20px;
}

.cost-box-normal {
	text-align: right;
}

#cost-box-or {
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
}

#cost-box button {
	width: 180px;
	height: 40px;
	border-radius: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #2bb1b3;
	color: white;
	font-family: 'Corbel', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-left: 6px;
}

#calculation-box {
	width: 435px;
	height: 200px;
	background-color: #fafafa;
	border: 0.5px solid #888888;
	overflow: hidden;
	float: right;
	padding: 20px 15px;
	position: relative;
	left: 1px;
	top: 77px;
	color: #505050;
}

#calculation-box h4 {
	font-size: 18px;
	border-bottom: 2px solid #d6d6d6;
	width: 200px;
	margin-top: 0px;
	margin-bottom: 13px;
}

#calculation-box h5 {
	font-size: 16px;
	margin-bottom: 7px;
}

#calculation-box input, #calculation-box select {
	border: 2px solid #d6d6d6;
	padding: 3px 0 5px 5px;
	font-family: 'Corbel', sans-serif;
	font-size: 15px;
	background-color: white;
}

#calculation-box input {
	width: 100px;
}

#calculation-box select {
	width: 185px;
}

#shipping-fee-result {
	position: relative;
	top: 23px;
	left: 53px;
}

#calculation-box button {
	outline: none;
	border: none;
	cursor: pointer;
	font-family: 'Corbel', sans-serif;
	color: white;
	font-size: 14px;
	font-weight: bold;
	background-color: #c2c2c2;
	height: 30px;
	width: 75px;
	border-radius: 30px;
}

#coupon-code-header {
	margin-top: 15px;
}

#coupon-code-input {
	width: 307px !important;
}

#calculate-button {
	margin-top: 23px;
}

#clockdiv {
	font-size: 56px;
	color: #393939;
	font-family: 'Lato', sans-serif;
	margin-top: 5px;
}

#clock-caption {
	margin-top: 130px;
	margin-left: 45px;
	width: 200px;
	font-size: 19px;
	color: #525252;
	text-align: center;
}

/* FOOTER1 STYLES **/

#footer1 {
	background-color: #2bb1b3;
	margin-top: 40px;

}

#footer1 figure, #footer1 img {
	display: flex;
	align-items: center;
}

#footer1 img {
	padding: 15px 0px;
}

#footer1 figcaption {
	text-transform: uppercase;
	font-family: 'Corbel', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-left: 20px;
}

#footer1 .figcap-small {
	font-size: 13px;
	margin-top: 5px;
}
 
#footer1 br {
	line-height: 105%
}

/* FOOTER2 STYLES **/

#footer2 {
	background-color: #777777;
}

h4 {
	font-size: 19px;
	font-weight: bold;
	margin-top: 24px;
	margin-bottom: 18px;
}

#footer2  img {
	height: 38px;
	margin-right: 14px;
}

#no-margin {
	margin-right: 0px !important;
}

#footer2 a {
	color: white;
	text-decoration: none;
}

#footer2 li {
	margin-bottom: 8px;
}

#footer2 ul {
	margin-bottom: 24px;
}

#footer2 input {
	width: 145px;
	height: 23px;
	border-radius: 10px;
	outline: none;
	border: none;
	padding: 10px;
}

#footer2 button {
	padding: 7px 18px;
	background-color: #2bb1b3;
	font-weight: bold;
	font-family: 'Corbel', sans-serif;
	font-size: 14px;
	text-align: center;
	color: white;
	border-radius: 13px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-top: 12px;
}


/* FOOTER3 STYLES **/

#footer3 {
	background-color: #535353;
}

#footer3 a {
	color: #a1a1a1;
	text-decoration: none;
	margin: 8px 0px;
}

#toggle, .nav label {
	display: none;
}
